.h1-class{
    background: rgb(77,8,155);
    background: linear-gradient(141deg, rgba(77,8,155,0.7178221630449055) 7%, rgba(152,11,148,0.8018557764902836) 19%, rgba(105,29,152,0.7318277652858018) 46%, rgba(52,81,152,0.5833683815323004) 100%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center ;
    color: white;
}

.h1-class:hover {
    color: yellow;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#caja{
    position: relative;
    background-color: rgba(58, 58, 210, 0.192);
    margin: 2rem;
    padding: 2rem;
    color: rgb(212, 245, 3);
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    border-style: dotted;
}

.button{
    background-color: rgb(36, 36, 34);
    font-size: 20px;
    width: 32rem;
    padding: 0.5rem;
    color: rgb(216, 235, 53);
}

.enter{
    color: rgb(182, 130, 231);
    font-size: larger;
}

.btn-class{
    margin-top: 1rem;
    width: 9rem;
    background-color: yellow;
    color: black;
    font-size: 1rem;
}

body{  background-color: violet;}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#particles-js{
    position: fixed;
    width: 100%;
    height: 50rem;  
}